@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

@tailwind base;

@layer base {
  h1 {
    @apply text-h1;
  }
  h2 {
    @apply text-h2;
  }
  h3 {
    @apply text-h3;
  }
  p {
    @apply text-p;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --main-dark: 28, 37, 48;
  --dev-dark: 19, 23, 34;
  --green: 111, 207, 151;
  --red: 230, 87, 87;
  --blue: 24, 162, 217;
  --yellow: #f2c94c;
  --white: #f3f4f6;
  --gray: #718298;
  --gray-light: #cdd7e3;
  --gray-dark: #2a3441;
}

.main {
  --dark: var(--main-dark);
}

.dev {
  --dark: var(--dev-dark);
}

@layer utilities {
  .backdrop-blur-xs {
    --tw-backdrop-blur: blur(2px);
  }
}

body {
  font-size: large;
  font-family: "Inter", sans-serif;
}

input[type="checkbox"] {
  color: rgb(var(--blue));
}

input[type="checkbox"]:focus {
  --tw-ring-offset-width: 0;
}

/* Hide input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: 4px;
  font-size: 15px;
  filter: invert(0.8);
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(1);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  margin-left: 4px;
  font-size: 16px;
  filter: invert(0.8);
  cursor: pointer;
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
  filter: invert(1);
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  height: 28px;
  width: 14px;
  border-radius: 16px;
  background: rgb(var(--blue));
  cursor: pointer;
  margin-top: -14px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  height: 32px;
  width: 16px;
  border-radius: 18px;
  background: rgb(var(--blue));
  cursor: pointer;
  margin-top: -16px;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: rgb(var(--blue));
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: rgb(var(--blue));
  border-radius: 0px;
  border: 0px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
  background: rgb(var(--blue));
  border-radius: 0px;
  border: 0px solid #010101;
}

/* Override styles */

.Toastify__toast-container {
  width: calc(100% - 2rem);
  margin-top: 1rem;
  margin-left: 1rem;
}

.Toastify__close-button {
  margin-top: 0.25rem;
  margin-right: 0.25rem;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.loader {
  border: 10px solid transparent;
  border-top: 10px solid #18a2d9;
  border-bottom: 10px solid #18a2d9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.__react_component_tooltip {
  opacity: 1 !important;
  padding: 5px 6px !important;
  max-width: 220px !important;
  font-size: 12px !important;
  line-height: 1.4 !important;
}
